body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header,
.content-1,
.footer {
    background-color: #1f2937;
    color: #F9FAF8;
}
.header,
.content-1,
.info-header,
.text-and-box,
.text-under-boxes,
.content-3,
.content-4,
.footer {
    display: flex;
}

.header {
    justify-content: space-between;
    padding: 16px 64px;
    border: solid;
    border-color: green;
    padding-bottom: 100px;
}

.left-header {
    font-weight: bold;
}

.header a {
    color: white;
    padding: 8px;
    text-decoration: none;
}

.left-content-1 {
    padding: 4px 24px 64px 64px;
    flex: 1 1;
    margin-top: 0;
    border: solid;
    border-color: red;
}

.left-content-1 p,
.header a {
    color: #F9FAF8;
    font-size: 18px;
}

.left-content-1 p {
    margin-top: 8px;
    border: solid;
    border-color: yellow;
    margin-bottom: 4px;
}

.left-content-1 button {
    margin-top: 0;
    border-color: #3882F6;
}

h3 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 8px;
    border: solid;
    border-color: yellow;
    margin-top: 0;
}

.image-space {
    flex: 1 1;
    margin: 0 64px 64px 4px;
    background-color: gray;
    height: 220px;
    text-align: center;
    line-height: 200px;
    border: solid;
    border-color: blue;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f3937;
    flex: 1;
    justify-content: center;
}

.empty-box {
    height: 130px;
    width: 120px;
    border: solid;
    align-self: center;
    border-radius: 10px;
    border-color: #3882F6;
}

.text-under-boxes {
    margin: 24px 120px;
}

.text-and-box {
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 16px;
}

.text-and-box p {
    text-align: justify;
    text-align-last: center;
}

.content-3 {
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    padding: 50px 130px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.thor {
    font-weight: bold;
    align-self: flex-end;
    font-size: 24px;
}

.content-4 {
    margin: 48px 64px;
    padding: 24px 48px;
    color: white;
    background-color: #3882F6;
    justify-content: space-between;
    border-radius: 4px;
}

.call-action {
    font-size: 24px;
    font-weight: bold;
}

button {
    background-color: #3882F6;
    color: white;
    border-color: white;
    height: 24px;
    align-self: center;
    border-radius: 5px;
    padding: 0px 20px;
    font-weight: bold;
}

.footer {
    justify-content: center;
    padding: 24px;
    font-size: 12px;
}